<div class="mt-5 p-4"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <div class="container-fluid border border-3 rounded-3 shadow" style="padding: 0%;">
                <div class="row m-1">
                    <div class="p-5 border border-2 rounded-3 d-flex flex-column position-relative">
                        <span class="position-absolute top-0 end-0 fs-3 fw-bold me-2">{{ input }}</span>
                        <span class="position-absolute bottom-0 end-0 fs-3 fw-bold me-2">{{ output }}</span>
                    </div>
                </div>
                <div class="row row-cols-4 g-1 m-1">
                    <div *ngFor="let line of firstLine" class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue(line)"
                             [attr.value]="line" type="button">{{ line }}</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('delete')" type="button">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </div>
                    </div>

                    <div *ngFor=" let line of secondLine" class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue(line)"
                             [attr.value]="line" type="button">{{ line }}</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('*')" type="button">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                    <div *ngFor="let line of thirdLine" class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue(line)"
                             [attr.value]="line" type="button">{{ line }}</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('/')" type="button">
                                <i class="fa-solid fa-divide"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue(0)" type="button">0</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('+')" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('-')" type="button">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" (click)="onGetValue('=')" type="button">
                                <i class="fa-solid fa-equals"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>