<div class="mt-5 p-4"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <div class="container-fluid border border-3 rounded-3 shadow" style="padding: 0%;">
                <div class="row m-1">
                    <div class="p-5 border border-2 rounded-3"></div>
                </div>
                <form class="row row-cols-4 g-1 m-1">
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="1" type="button">1</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="2" type="button">2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="3" type="button">3</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="delete" type="button">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="4" type="button">4</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="5" type="button">5</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="6" type="button">6</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="*" type="button">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="7" type="button">7</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="8" type="button">8</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="9" type="button">9</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="/" type="button">
                                <i class="fa-solid fa-divide"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="0" type="button">0</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="+" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="-" type="button">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-outline-primary" value="=" type="button">=</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>